<?xml version="1.0" encoding="utf-8"?>

<configuration>
   


  <appSettings>
    <!--<add key="DbConn"  value="Data Source=IDC_SPCC_voucher_test_242;User Id=spcc_voucher ;Password=spcctest ;Integrated Security=no;Connection Lifetime=60;Max Pool Size=100;Min Pool Size=3;"/>-->
    <add key="DbConn"  value="Data Source=TEST_COUPON_GC;User Id=SPCC_VOUCHER ;Password=spcctest ;Integrated Security=no;Connection Lifetime=60;Max Pool Size=100;Min Pool Size=3;"/>
    <add key="singKey" value="ABCD1234"/>
    <add key="privateKey" value="
      MIICdwIBADANBgkqhkiG9w0BAQEFAASCAmEwggJdAgEAAoGBAMPkD39esnFEZjBk
      zfcfl29yQRPkS1RPUHe0qqrq2s+6yJas+cbJbBQBk7BDksOKrgTxV9PWhrX6BijM
      LNNo2nOuwJUju/quzusuFhTbJABv2tLIGKQinHiD3wPJeQ5LFM8k7q8G4M+KuSTP
      fmVV6WIc71fuOtOFZ1OA4uG5IXWzAgMBAAECgYEAksHqpmcA0wEGeh0bfZgKcTEs
      9kUj9n8Rbw1Ii5I16kkqfFANNVO0B+0Cg5yseJkONJ/HR+rBs9YkBS6qKpy0g4P6
      b9PWD7GcxH5L/lDyhUNhGvg6jXXwgQUlOqQ8B8LfR9KkCTEDX+xUrPhXREauXVsv
      mqIFrPKet/wTECJ52wkCQQDyn1giSVYQcZpXlXlvu0vnh1UEHzNyWLQcTnmZmFNx
      GtgqjiB/TxhE/QpYa03mwtL7WLYhqRJb121AJrqKj9W3AkEAzrEXpBpbiqCV7tKr
      7AsZFDbywSf3R22KqBdaWg4kuf+/peAV9OMjKpPO8N8QP+dUS0eG3vfBW+OR4GLT
      lBr/5QJBAL0MwGXm8vLZMkRwqjEPpjOAVhRiI3pD+APeeg3ejZYiLrHqERRiEy0e
      ZoNDCW53/GHxW+majj2V/QDxrITvUr0CQAQGNqufR8D/N2wa9fX2kVpvZ3KTUKE3
      ZMe5DK1MMTLd4+Fa55KJCZo+nnzaGvrjiiSdE+crc7xSRfjUc8IidHECQA7yGG8p
      DOEkf7QJzOuVmbIyk9vn0rdWszchmCAXOYGUhqmmkrcTv0Xvp/6FCY8nsVc53jdo
      maKiLSWK26qo2k0="/>
  </appSettings>


  <connectionStrings>
    <add name="ConnectionStr" connectionString="Data Source=IDC_SPCC_voucher_test_242;User Id=spcc_voucher;Password=spcctest;" providerName="System.Data.OracleClient"/>
   

  </connectionStrings>

    <system.web>
        <!-- 
            设置 compilation debug="true" 将调试符号插入
            已编译的页面中。但由于这会 
            影响性能，因此只在开发过程中将此值 
            设置为 true。
        -->
        <compilation debug="true" />
        <!--
            通过 <authentication> 节可以配置 ASP.NET 使用的 
            安全身份验证模式，
            以标识传入的用户。 
        -->
        <authentication mode="Windows" />
        <!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节可以配置相应的处理步骤。具体说来，
            开发人员通过该节可以配置
            要显示的 html 错误页
            以代替错误堆栈跟踪。

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
      
    </system.web>
 
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="messages"
          type="System.Diagnostics.XmlWriterTraceListener"
          initializeData="c:\logs\messages.svclog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>

  <system.serviceModel>
    <diagnostics>
      <messageLogging
           logEntireMessage="true"
           logMalformedMessages="false"
           logMessagesAtServiceLevel="true"
           logMessagesAtTransportLevel="false"
           maxMessagesToLog="3000"
           maxSizeOfMessageToLog="2000"/>
    </diagnostics>
  </system.serviceModel>

 
</configuration>
